<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 


   {% comment %} datatables {% endcomment %}
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
   <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>


   {% comment %} font awsome {% endcomment %}
   <script src="https://kit.fontawesome.com/279bdb446e.js" crossorigin="anonymous"></script>
   

   

   {% comment %} <link rel="stylesheet" href="{% static 'style/card1.css' %}">  {% endcomment %}
   {% block css %} 
   <style>


   </style>
   {% endblock css %}
</head>
<body onload="myfun()">
  {% comment %} <div id="preloader"  >
    <div class="icon ">
      <img src="/static/images/Preloader_1.gif" alt="error">
    </div>
  </div>  {% endcomment %}
     <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" href="{% url 'h' %}">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">  
            <li class="nav-item active">
              {% comment %} <h1>{{request.user}}</h1> {% endcomment %}
              {% if request.user.is_authenticated %}
              <a class="nav-link" href="{% url 'profile'  %}">Profile <span class="sr-only">(current)</span></a>
              {% endif %}
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'add_books' %}">Add books</a>
                <a class="dropdown-item" href="{% url 'all_books' %}">All books</a>
                <a class="dropdown-item" href="{% url 'mybook' %}">My books</a>
                <a class="dropdown-item" href="{% url 'available_books' %}">Available books</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'all_user' %}">All members</a>
                <a class="dropdown-item" href="{% url 'book_issue' %}">Issue</a>
              </div>
              {% else %}
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'mybook' %}">My books</a>
                <a class="dropdown-item" href="{% url 'available_books' %}">Available books</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'book_issue' %}">Issue</a>
              </div>
              {% endif %}
              {% else %}
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'available_books' %}">Available books</a>
              </div>

              {% endif %}

            </li>
          </ul>
          <h3 class='mr-5'>{{request.user.username}}</h3>
          <div class="form-inline my-2 my-lg-0">
            {% if not request.user.is_authenticated %}
            <a class="btn btn-outline-light mr-2" href="{% url 'login' %}" role="button">Login</a>
            <a class="btn btn-warning" href="{% url 'signup' %}" role="button">Register</a>
            {% else %}
            <a class="btn btn-outline-light mr-2" href="{% url 'd' %}" role="button">Dashboard</a>
            <a class="btn btn-warning" href="{% url 'logout' %}" role="button">Logout</a>

            {% endif %}
          </div>
        </div>
    </nav> 

    <section>
      {% block content1 %}{% endblock content1 %}

    </section>

    {% block script %}
    {% endblock  %}
    
</body>
</html>